<header>
        <div class="container">
          <img src="/tinycakes.png" title="Tiny Cakes!" alt="The Tiny Cakes logo, a stylized cartoon cupcake." height="48px" width="48px" />
          <h2>Tiny Cakes!</h2>
          <nav>
            <a href="index.html">Home</a>
          </nav>
      </div>
      </header>